bazel-6.0.0-dist.zip bazel-bin bazel-bz-airgap bazel-out bazel.repo.cache bazel-testlogs BUILD.bazel derived fetch.sh go.mod.cache hello.go manual MODULE.bazel README.md resolve.bzl resolved resolved.bzl resolved.lst resolve.go WORKSPACE.bazel
